@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-BlackItalic.eot');
    src: local('Lucifer Sans Expanded Black Italic'), local('LuciferSansExpanded-BlackItalic'),
        url('LuciferSansExpanded-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-BlackItalic.woff2') format('woff2'),
        url('LuciferSansExpanded-BlackItalic.woff') format('woff'),
        url('LuciferSansExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded ExtraLt';
    src: url('LuciferSansExpanded-ExtraLightIt.eot');
    src: local('Lucifer Sans Expanded ExtraLight Italic'), local('LuciferSansExpanded-ExtraLightIt'),
        url('LuciferSansExpanded-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-ExtraLightIt.woff2') format('woff2'),
        url('LuciferSansExpanded-ExtraLightIt.woff') format('woff'),
        url('LuciferSansExpanded-ExtraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-BoldItalic.eot');
    src: local('Lucifer Sans Expanded Bold Italic'), local('LuciferSansExpanded-BoldItalic'),
        url('LuciferSansExpanded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-BoldItalic.woff2') format('woff2'),
        url('LuciferSansExpanded-BoldItalic.woff') format('woff'),
        url('LuciferSansExpanded-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded ExtraLt';
    src: url('LuciferSansExpanded-ExtraLight.eot');
    src: local('Lucifer Sans Expanded ExtraLight'), local('LuciferSansExpanded-ExtraLight'),
        url('LuciferSansExpanded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-ExtraLight.woff2') format('woff2'),
        url('LuciferSansExpanded-ExtraLight.woff') format('woff'),
        url('LuciferSansExpanded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-Black.eot');
    src: local('Lucifer Sans Expanded Black'), local('LuciferSansExpanded-Black'),
        url('LuciferSansExpanded-Black.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-Black.woff2') format('woff2'),
        url('LuciferSansExpanded-Black.woff') format('woff'),
        url('LuciferSansExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-ExtraBoldIt.eot');
    src: local('Lucifer Sans Expanded ExtraBold Italic'), local('LuciferSansExpanded-ExtraBoldIt'),
        url('LuciferSansExpanded-ExtraBoldIt.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-ExtraBoldIt.woff2') format('woff2'),
        url('LuciferSansExpanded-ExtraBoldIt.woff') format('woff'),
        url('LuciferSansExpanded-ExtraBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-ExtraBold.eot');
    src: local('Lucifer Sans Expanded ExtraBold'), local('LuciferSansExpanded-ExtraBold'),
        url('LuciferSansExpanded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-ExtraBold.woff2') format('woff2'),
        url('LuciferSansExpanded-ExtraBold.woff') format('woff'),
        url('LuciferSansExpanded-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-Bold.eot');
    src: local('Lucifer Sans Expanded Bold'), local('LuciferSansExpanded-Bold'),
        url('LuciferSansExpanded-Bold.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-Bold.woff2') format('woff2'),
        url('LuciferSansExpanded-Bold.woff') format('woff'),
        url('LuciferSansExpanded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-LightItalic.eot');
    src: local('Lucifer Sans Expanded Light Italic'), local('LuciferSansExpanded-LightItalic'),
        url('LuciferSansExpanded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-LightItalic.woff2') format('woff2'),
        url('LuciferSansExpanded-LightItalic.woff') format('woff'),
        url('LuciferSansExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-SemiBold.eot');
    src: local('Lucifer Sans Expanded SemiBold'), local('LuciferSansExpanded-SemiBold'),
        url('LuciferSansExpanded-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-SemiBold.woff2') format('woff2'),
        url('LuciferSansExpanded-SemiBold.woff') format('woff'),
        url('LuciferSansExpanded-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-Medium.eot');
    src: local('Lucifer Sans Expanded Medium'), local('LuciferSansExpanded-Medium'),
        url('LuciferSansExpanded-Medium.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-Medium.woff2') format('woff2'),
        url('LuciferSansExpanded-Medium.woff') format('woff'),
        url('LuciferSansExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-SemiBoldIt.eot');
    src: local('Lucifer Sans Expanded SemiBold Italic'), local('LuciferSansExpanded-SemiBoldIt'),
        url('LuciferSansExpanded-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-SemiBoldIt.woff2') format('woff2'),
        url('LuciferSansExpanded-SemiBoldIt.woff') format('woff'),
        url('LuciferSansExpanded-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-Light.eot');
    src: local('Lucifer Sans Expanded Light'), local('LuciferSansExpanded-Light'),
        url('LuciferSansExpanded-Light.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-Light.woff2') format('woff2'),
        url('LuciferSansExpanded-Light.woff') format('woff'),
        url('LuciferSansExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-RegularItalic.eot');
    src: local('Lucifer Sans Expanded Regular Italic'), local('LuciferSansExpanded-RegularItalic'),
        url('LuciferSansExpanded-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-RegularItalic.woff2') format('woff2'),
        url('LuciferSansExpanded-RegularItalic.woff') format('woff'),
        url('LuciferSansExpanded-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-Regular.eot');
    src: local('Lucifer Sans Expanded Regular'), local('LuciferSansExpanded-Regular'),
        url('LuciferSansExpanded-Regular.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-Regular.woff2') format('woff2'),
        url('LuciferSansExpanded-Regular.woff') format('woff'),
        url('LuciferSansExpanded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-MediumIt.eot');
    src: local('Lucifer Sans Expanded Medium Italic'), local('LuciferSansExpanded-MediumIt'),
        url('LuciferSansExpanded-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-MediumIt.woff2') format('woff2'),
        url('LuciferSansExpanded-MediumIt.woff') format('woff'),
        url('LuciferSansExpanded-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-ThinItalic.eot');
    src: local('Lucifer Sans Expanded Thin Italic'), local('LuciferSansExpanded-ThinItalic'),
        url('LuciferSansExpanded-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-ThinItalic.woff2') format('woff2'),
        url('LuciferSansExpanded-ThinItalic.woff') format('woff'),
        url('LuciferSansExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lucifer Sans Expanded';
    src: url('LuciferSansExpanded-Thin.eot');
    src: local('Lucifer Sans Expanded Thin'), local('LuciferSansExpanded-Thin'),
        url('LuciferSansExpanded-Thin.eot?#iefix') format('embedded-opentype'),
        url('LuciferSansExpanded-Thin.woff2') format('woff2'),
        url('LuciferSansExpanded-Thin.woff') format('woff'),
        url('LuciferSansExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

